body, ul, ol, li, dl, dt, dd, p, h1, h2, h3, h4, h5, h6, form, fieldset, input {margin: 0;padding: 0;}
img {border: none;}
ul, ol, li {list-style: none;}
a {text-decoration: none;}
.clear {clear: both;height: 0;line-height: 0;font-size: 0;overflow: hidden;}
.clearfix:after {visibility: hidden;display: block;font-size: 0;content: ".";clear: both;height: 0;zoom: 1;}
* html > body .clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
* + html .clearfix {min-height: 1%;}
body {margin: auto;width: 100%;height: 100%;position: absolute;}